<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>&copy; 2020 <a href="https://well-ai-advisor-beta.azurewebsites.net">Well-ai</a>.</strong> All rights
    reserved.
</footer>