$base-theme:Bootstrap;
$skin-name:Well-AI Advisor;
$swatch-name:Bootstrap;
$border-radius: 0rem;
$accent: #007bff;
$secondary: #011627;
$info: #4aefc3;
$success: #83c429;
$warning: #f7bd29;
$error: #f74600;
$body-bg: #f1f2f8;
$body-color: #261c15;
$component-bg: #ffffff;
$component-color: #261c15;
$card-cap-bg: #011627;
$card-cap-color: #ffffff;
$series-a: #007bff;
$series-b: #26ddcc;
$series-c: #3639a4;
$series-d: #f4af00;
$series-e: #ff6344;
$series-f: #77bd27;
