<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Order Info</h2>
    <table>
        <thead>            
        </thead>
        <thead>           
            <tr>
                <td width="50%">Product</td>
                <td width="20%">Unit Price</td>
                <td width="10%">Users</td>
                <td width="20%">Total</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="50%">Dispatch</td>
                <td width="20%">$ 23.00</td>
                <td width="10%">5</td>
                <td width="20%">$ 115.00</td>
            </tr>
        </tbody>
    </table>
</body>
</html>