<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
        <add name="WebAIAdvisorContextConnection" connectionString="Server=tcp:wellai.database.windows.net,1433;Initial Catalog=wellaidb;Persist Security Info=False;User ID=wellaiadmin;Password=Wellaidb#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=true"/>
  </connectionStrings>
  <appSettings>
    <!--SandBox,Production-->
    <add key="AuthorizeNetEnvironmentType" value="SandBox"/>
  </appSettings>
</configuration>