@{

    ViewData["Title"] = "Provider Locator";


}


@*@model IEnumerable<WellAI.Advisor.Model.ServiceCompany.Models.TechnicianSRV>*@

@model IEnumerable<WellAI.Advisor.Model.OperatingCompany.Models.ProviderLocator>
<head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="~/css/mapcustom.css" rel="stylesheet" />
    <script src="~/js/ProviderLocator.js"></script>

</head>
<section class="content-header">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #Dispatch {
            height: 100%;
        }

        #outerWrapper {
            overflow: hidden;
        }

        .k-numerictextbox {
            width: 17.4em;
        }

        .map_box_container {
            /* position: relative;*/
            height: 100% !important;
            width: 100% !important;
        }

        #map {
            /* position: absolute;*/
            /*top: -35px;*/
            top: 0px;
            bottom: 0;
            width: 100%;
            /*transition: all 0.3s;*/
            display: inline-block;
            overflow: hidden;
            height: fit-content;
        }

        .mapboxgl-canvas {
            /* top: 50px;*/
        }

        .button {
            color: #fff;
            background-color: #555;
            padding: 1em;
            margin: 1em;
            position: absolute;
            right: 1em;
            top: 1em;
            border-radius: 0.5em;
            border-bottom: 2px #222 solid;
            cursor: pointer;
        }

        #resizeMap {
            top: 5em;
        }

        .mapboxgl-ctrl-top-right {
            /* top: 50px;*/
        }

        /* .map_box_container {
            position: absolute;
            height: 100% !important;
            width: 100% !important;
        }*/

        /*.marker {
            background-image: url('/img/Destinations.png');*/
            /* background-image: url('/img/mapbox-icon.png');*/
            /*background-size: cover;
            width: 20px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }*/

        .marker {
            background-image: url('/img/oil-rig.png');
            /* background-image: url('/img/Destinations.png');*/
            /* background-image: url('/img/mapbox-icon.png');*/
            background-size: cover;
            width: 35px;
            height: 40px;
            cursor: pointer;
        }

        .markerstart {
            background-image: url('/img/start_pinplaceholder.png');
            /*background-image: url('/img/mapicon-start.png');*/
            background-size: cover;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }

       /* .markerstart {
            background-image: url('/img/PLANT.png');
            background-size: cover;
            width: 45px;
            height:45px;
            border-radius: 00%;
            cursor: pointer;
        }*/

        .markerstart {
            background-image: url('/img/start_pinplaceholder.png');
            /*background-image: url('/img/mapicon-start.png');*/
            background-size: cover;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }

        .mapboxgl-popup {
            max-width: 200px;
        }

        .mapboxgl-popup-content {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            color: black;
        }

        .mapboxgl-map {
            position: relative;
            border: 4px solid #007BFF;
            border-radius: 10px;
            width: 100%;
        }

        .k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap {
            background-color: white !important;
            color: black !important;
        }

        .k-edit-label {
            margin-left: 15px !important;
            margin-top: 5px !important;
        }

        .operatorfilter {
            display: inline-block;
            position: absolute;
            right: 0;
        }

            .operatorfilter .k-dropdown {
                display: block;
            }

                .operatorfilter .k-dropdown .k-dropdown-wrap .k-input {
                    background-color: #fff;
                    color: #000;
                }

        .k-dropdown {
            border: 2px solid blue !important;
        }

        @@media (max-width: 570px) {
            .card-header {
                height: auto !important;
            }

            .chart-header, .operatorfilter {
                position: inherit !important;
                display: block !important;
                width: auto !important;
            }
        }

        .k-grid-header .k-header > .k-link {
            text-transform: uppercase;
            font-weight: 900 !important;
            font-size: 12px !important;
        }

        .k-edit-buttons {
            border-style: none;
        }

        .k-grid .k-grid-add:hover {
            color: #fff !important;
        }

        .k-link k-state-selected {
            padding-top: 17px !important;
        }

        .k-pager-numbers {
            padding-top: 17px !important;
        }

        .k-grid .k-grid-add, .k-grid .k-grid-add:hover {
            color: #000 !important;
            background-color: #fff !important;
            border: 0;
        }

        .k-window-content #sidebar .k-edit-label {
            margin-left: -50px;
        }

        .k-window-content .k-edit-form-container {
            width: inherit;
        }

        .k-grid-Details, .k-grid-Details:hover, .k-grid-Delete, .k-grid-Delete:hover {
            background-color: #fff;
        }

        .k-grid-edit, .k-grid-Delete, .k-grid-Details {
            border: 1px solid #007BFF;
            border-radius: 10px;
        }

        .k-window-titlebar {
            background-color: #007BFF;
            color: white;
        }

        .customEdit {
            margin-left: 10px;
        }

        #Dispatch {
            height: 100%;
        }

        html {
            overflow: hidden;
        }

        .rightpart {
            /* display: inline-block;*/
            min-height: 100% !important;
            margin-left: 5px;
            top: 0px;
        }

        .k-grid-header .k-header > .k-link {
            text-transform: uppercase;
            font-weight: 900 !important;
            font-size: 12px !important;
        }

        .k-pager-wrap.k-pager-lg .k-pager-numbers li:not(.k-current-page), .k-pager-wrap.k-pager-md .k-pager-numbers li:not(.k-current-page), .k-pager-wrap.k-pager-sm .k-pager-numbers li:not(.k-current-page) {
            display: block !important;
        }

        .k-pager-wrap.k-pager-lg .k-pager-nav + .k-pager-numbers-wrap, .k-pager-wrap.k-pager-md .k-pager-nav + .k-pager-numbers-wrap, .k-pager-wrap.k-pager-sm .k-pager-nav + .k-pager-numbers-wrap {
            width: unset !important;
            height: calc(1*(2px + 0.75rem + 1.5em));
            box-sizing: border-box;
            border-color: inherit;
            margin: 0 0.375rem;
        }

        .k-pager-wrap.k-pager-lg .k-pager-numbers .k-link,
        .k-pager-wrap.k-pager-lg .k-pager-numbers .k-state-selected, .k-pager-wrap.k-pager-md .k-pager-numbers .k-link,
        .k-pager-wrap.k-pager-md .k-pager-numbers .k-state-selected, .k-pager-wrap.k-pager-sm .k-pager-numbers .k-link,
        .k-pager-wrap.k-pager-sm .k-pager-numbers .k-state-selected {
            margin: 0;
            border-width: 0;
            width: unset !important;
            height: unset !important;
        }

        .k-pager-numbers {
            display: contents !important;
        }

        div.k-loading-mask {
            z-index: 3;
        }
        span.k-loading-text {
            font-size: 20px !important;
            text-indent: 0;
            top: 55%;
            left: 45%;
            color: black;
            font-weight: 900 !important;
        }

        .chathisttitle {
            color: #ffffff;
        }

        .leftpart {
            width: 38%;
            display: inline-block;
            vertical-align: top;
        }

        .rightpart {
            width: 61%;
            display: inline-block;
        }

        .content {
        }

        .k-pager-numbers {
            padding-top: 11px;
        }

        .km-widget {
            border: 4px solid #007BFF;
            border-radius: 10px;
        }

        .k-pos-left {
            right: 0;
            left: unset;
        }

        .k-pos-top {
            top: unset;
            bottom: 10px;
        }

        .k-window div.k-window-content {
            overflow: hidden;
        }

       /* .truckcolor {
            color: indianred;
            top: -30px;
            font-size: 3em;
            background-image: url('/img/LOGISTIC.png');
            background-size: cover;
            width: 45px;
            height: 45px;
            border-radius: 00%;
            cursor: pointer;
        }*/

        .truckcolor {
            color: indianred;
            top: -30px;
            font-size: 3em;
            background-image: url('/img/truck.png');
            /*background-image: url('/img/LOGISTIC.png');*/
            background-size: cover;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            cursor: pointer;
        }

        .truckcolor_preview {
            /*color: indianred;
            top: -30px;
            font-size: 3em;*/
            color: indianred;
            top: -30px;
            font-size: 3em;
            background-image: url('/img/truck.png');
            /*background-image: url('/img/LOGISTIC.png');*/
            background-size: cover;
            width: 45px;
            height: 45px;
            border-radius: 00%;
            cursor: pointer;
        }

        .leftpartPreview {
            width: 80%;
            display: inline-block;
            vertical-align: top;
            /* margin-left: 150px;*/
        }

        .rightpartPreview {
            width: 46%;
            display: inline-block;
            /* margin-right: 50px; */
            /*margin-left: 150px;*/
        }

        .marker_preview_op {
            background-image: url('/img/oil-rig.png');
            /* background-image: url('/img/Destinations.png');*/
            /* background-image: url('/img/mapbox-icon.png');*/
            background-size: cover;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .markerstart_preview_op {
            background-image: url('/img/oil-rig.png');
            background-size: cover;
            width: 45px;
            height: 45px;
            border-radius: 00%;
            cursor: pointer;
        }
    </style>
</section>
<section class="content">
    @Html.Hidden("hdnDriverId", (object)ViewBag.DriverId)
    <div class="leftpart">
        <div style="padding-top:10px">
            @(Html.Kendo().Grid<WellAI.Advisor.Model.ServiceCompany.Models.DispatchRoutesModel>()
            .Name("Dispatch")
            .HtmlAttributes(new { @class = "ra-section" })
            .Columns(columns =>
            {
                columns.Bound(p => p.username).Title("User").Filterable(false).Width(150);
                //columns.Bound(p => p.rigname).Title("Rig").ClientTemplate("#= rigname # #= wellname # #= locationname #").Title("Location");*@
                columns.Bound(p=>p.locationname).Title("Provider").Filterable(false).Hidden(true);
                columns.Bound(p => p.customer).Title("ProviderName").Filterable(false);
                columns.Bound(p => p.dispatchid).Hidden(true);
                columns.Bound(p => p.dispatchnotes).Hidden(true);
                columns.Bound(p => p.userid).Hidden(true);
                columns.Bound(p => p.customer).Title(" ").Filterable(false)
                .ClientTemplate("<a href='javaScript:void(0)' onclick='LoadDriverLocation(\"#=userid#\",\"#=customer#\",\"#=username#\");'><i class='fa fa-truck'></i></a>").Width(50);
            })
            .Pageable(p =>
                        p.Info(true)
                         .Numeric(false)
                         .PreviousNext(false)
                    )
            .Scrollable(scrollable => scrollable.Virtual(true))
            .Sortable()
            .Filterable()
            .Reorderable(r => r.Columns(false))
            .Resizable(r => r.Columns(false))
            .DataSource(dataSource => dataSource
                    .Ajax()
                    //   .Read(read => read.Action("GetDispatchList", "Dispatch"))
                    .Read(read => read.Action("GetDispatchList_Providerlocator", "Dispatch"))
                    .PageSize(10)
                    .Model(model => model.Id(p => p.dispatchid))

            ).Events(e =>
            {
                e.DataBound("onDataBound");
            })
            )
        </div>

    </div>
    <div class="rightpart">
        @*<div class="col-md-4 float-right ml-0 mapicons" style="z-index: 99; position: relative; top: 4rem;right:30px">
                <button class="btn float-right" id="btnTruck" onclick="LoadAllUserPaths()"><i class="fa fa-truck fa-2x"></i></button>
                <button class="btn float-right" id="btnLocation" onclick="LoadUserLocation()"><i class="fa fa-map-marker fa-2x"></i></button>
            </div>*@
        <div id="menu" style="margin-top:-15px">
            <input id="satellite-v9" type="radio" name="rtoggle" value="satellite">
            <!-- See a list of Mapbox-hosted public styles at -->
            <!-- https://docs.mapbox.com/api/maps/styles/#mapbox-styles -->
            <label for="satellite-v9">Satellite</label>
            <input id="streets-v11" type="radio" name="rtoggle" value="streets" checked="checked">
            <label for="streets-v11">Streets</label>
        </div>
        <div id='map'></div>

        <input type="hidden" id="hdn_operatorId" value="@ViewBag.OperatorId" />
        <input type="hidden" id="hdn_userId" value="@ViewBag.DriverId" />
    </div>
    @*<div id="dialog"></div>*@

</section>

<script>

    function userInfo() {
        return {
            user: $("#hdnCurrentUser").val()
        }
    }
    var gridElement = $("#Dispatch");



    function resize() {
        var gridElement = $("#Dispatch"),
            dataArea = gridElement.find(".k-grid-content"),
            gridHeight = gridElement.innerHeight(),
            otherElements = gridElement.children().not(".k-grid-content"),
            otherElementsHeight = 0;
        //$("#Dispatch").height(parseInt($(window).height()) - 200);
        //dataArea.height(parseInt($(window).height()) - 300)
        $("#Dispatch").height(627);
        dataArea.height(parseInt(627));
        $("#map").height(627);

    }


    function resizeWrapper() {
        //$("#outerWrapper").height("700 px");
    }

    $(window).resize(function () {
        //resizeWrapper();

        resizeGrid();

    });

    $(document).ready(function () {
        $(window).resize(function () {
            resizeGrid();
        });
        //resizeWrapper();
        resizeGrid();
    });

    window.addEventListener('resize', function (event) {
        var newWidth = window.innerWidth;
        var newHeight = window.innerHeight;
    });
    function sendDriverLocator(id, driver) {
        //var dialog = $("#dialog");
        //dialog.kendoDialog({
        //    width: "400px",
        //    title: "Send Driver Locator",
        //    closable: true,
        //    modal: true,
        //    //content: "<p><input type='hidden' id='snedProjectid' value='" + id + "'/><input type='hidden' id='snedTechnicianId' value='" + id + "'>Do you wish to send location details for <strong>" + driver + "</strong> assigned to <strong>""</strong> ?<p>",
        //    actions: [
        //        { text: 'Close', action: onCancel },
        //        { text: 'OK', primary: true, action: onOK }
        //    ]
        //});
        //dialog.data("kendoDialog").open();
    }
</script>




<script>


    //public - pk.eyJ1Ijoia2FydGhpa3RoYW5nYXZlbCIsImEiOiJjbDFkZHk5MjYwZ21lM2NwMm9tcTVueGMyIn0.jufh1E3v_JpXizuN7Rfudg
    //Well AI - pk.eyJ1Ijoid2VsbC1haSIsImEiOiJjbDFxZ25yMnIwN3c3M2JzNml1dWdpMmR0In0.l-lDzOnU03tFScjiMkRObg
    mapboxgl.accessToken = 'pk.eyJ1Ijoid2VsbC1haSIsImEiOiJjbDFxZ25yMnIwN3c3M2JzNml1dWdpMmR0In0.l-lDzOnU03tFScjiMkRObg';



    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-102.36896137371849, 31.846556737999546],
        zoom: 4
    });

    $.when(map.on('load', () => {
        //    debugger;

        //if (!this.map.getLayer('route')) {
        if (!map.getSource('routesrc')) {
            map.addSource('routesrc', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': [
                        ]
                    }
                }
            });

            map.addSource('routecurrentsrc', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': [
                        ]
                    }
                }
            });

        }
        if (!map.getLayer('route')) {
            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'routesrc',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#888',
                    'line-width': 8
                }
            });

            map.addLayer({
                'id': 'routecurrent',
                'type': 'line',
                'source': 'routecurrentsrc',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#3da118',
                    'line-width': 8
                }
            });
        }

        map.addControl(new mapboxgl.NavigationControl());
        map.resize();
    })
    ).then(function (data, textStatus, jqXHR) {
        //LoadAllUserDestinations();
        $.when(loadroutes()).done(function (x) {

            setTimeout(function () {
                $(".mapboxgl-map").height(parseInt($("#Dispatch").height()));
            }, 4000);
        });
    });
    map.on('idle', function () {
        map.resize()
    })
    function loadroutes() {
        LoadUserRoutes();
        //$("#Dispatch").height(parseInt($(window).height()) - 185);
        var dataArea = gridElement.find(".k-grid-content")
        //dataArea.height(parseInt($(window).height()) - 280);

        $("#Dispatch").height(627);
        dataArea.height(parseInt(627));
        $("#map").height(627);
    }

    //-----------------------------------

    const layerList = document.getElementById('menu');
    const inputs = layerList.getElementsByTagName('input');

    for (const input of inputs) {
        input.onclick = (layer) => {
            const layerId = layer.target.id;
            map.setStyle('mapbox://styles/mapbox/' + layerId);
        };
    }

</script>


@*<script>
        //mappreview_op
        //public - pk.eyJ1Ijoia2FydGhpa3RoYW5nYXZlbCIsImEiOiJjbDFkZHk5MjYwZ21lM2NwMm9tcTVueGMyIn0.jufh1E3v_JpXizuN7Rfudg
        //Well AI - pk.eyJ1Ijoid2VsbC1haSIsImEiOiJjbDFxZ25yMnIwN3c3M2JzNml1dWdpMmR0In0.l-lDzOnU03tFScjiMkRObg
        mapboxgl.accessToken = 'pk.eyJ1Ijoid2VsbC1haSIsImEiOiJjbDFxZ25yMnIwN3c3M2JzNml1dWdpMmR0In0.l-lDzOnU03tFScjiMkRObg';
        const mappreview_op = new mapboxgl.Map({
            container: 'mappreview_op',
            style: 'mapbox://styles/mapbox/streets-v11',//'mapbox://styles/karthikthangavel/cl1dlz8mi001m15tdhtkx558w',
            center: [-102.36896137371849, 31.846556737999546],
            zoom: 8
        });
        //  [-100.483696, 37.833818], [-78.483696, 40.833818]

        $.when(mappreview_op.on('load', () => {
            mappreview_op.addSource('routepreviewsrc_op', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': [
                        ]
                    }
                }
            });
            if (!mappreview_op.getLayer('routepreview_op')) {
                mappreview_op.addLayer({
                    'id': 'routepreview_op',
                    'type': 'line',
                    'source': 'routepreviewsrc_op',
                    'layout': {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    'paint': {
                        'line-color': '#888',
                        'line-width': 8
                    }
                });
            }
            mappreview_op.addControl(new mapboxgl.NavigationControl());
            mappreview_op.resize();
        })
        ).then(function (data, textStatus, jqXHR) {
            //  LoadAllUserDestinations();
            //LoadUserRoutes();
            //$.when(loadroutes()).done(function (x) {
            //    $(".mapboxgl-map").height(parseInt($("#Dispatch").height()));
            //    $("#map").height(parseInt($("#Dispatch").height()));
            //});
            //alert($("#hdnDriverId").val());
            if ($("#hdnDriverId").val() != "") {
                //   setTimeout(LoadDriverLocation($("#hdnDriverId").val(), "", ""), 2000);
            }
        });
        mappreview_op.on('idle', function () {
            mappreview_op.resize()
        })

        //function loadroutes() {
        //    var dataArea = gridElement.find(".k-grid-content");
        //    LoadUserRoutes();
        //    $("#Dispatch").height(parseInt($(window).height()) - 185);
        //    dataArea.height(parseInt($(window).height()) - 280);
        //}

        const layerList = document.getElementById('menu');
        const inputs = layerList.getElementsByTagName('input');

        for (const input of inputs) {
            input.onclick = (layer) => {
                const layerId = layer.target.id;
                mappreview_op.setStyle('mapbox://styles/mapbox/' + layerId);
            };
        }
    </script>*@



<style>
    .pop-up {
        color: #F3F3DD;
        /* background-color: #91785D;*/
        /*  border-color: #91785D;*/
        /* max-width: 50px;*/
        /* box-shadow: 3px 3px 2px #8B5D33;*/
        /* font-family: 'Oswald';*/
        /*      min-width: 450px;*/
    }

    .pop-up-op {
        color: #F3F3DD;
        /*background-color: #91785D;*/
        /* border-color: #91785D;*/
        /* max-width: 50px;*/
        /*  box-shadow: 3px 3px 2px #8B5D33;*/
        /* font-family: 'Oswald';*/
        min-width: 50px;
        text-align: left;
    }

    .pop-up-op2 {
        color: #F3F3DD;
        /*background-color: #91785D;*/
        /* border-color: #91785D;*/
        /* max-width: 50px;*/
        /*  box-shadow: 3px 3px 2px #8B5D33;*/
        /* font-family: 'Oswald';*/
        min-width: 50px;
        text-align: left;
    }

    .pop-head {
        color: #F3F3DD;
        background-color: #ab3a0e;
        /* border-color: #91785D;*/
        /* max-width: 50px;*/
        /*  box-shadow: 3px 3px 2px #8B5D33;*/
        /* font-family: 'Oswald';*/
        /*  min-width: 350px;*/
        min-height: 50px;
    }

    .pop-head2 {
        color: white;
        background-color: #15ad07;
        /* border-color: #91785D;*/
        /* max-width: 50px;*/
        /*  box-shadow: 3px 3px 2px #8B5D33;*/
        /* font-family: 'Oswald';*/
        /*  min-width: 350px;*/
        min-height: 50px;
    }

    .pop-head3 {
        color: #171711;
        background-color: #c9c608;
        /* border-color: #91785D;*/
        /* max-width: 50px;*/
        /* box-shadow: 3px 3px 2px #8B5D33;*/
        /* font-family: 'Oswald';*/
        /*  min-width: 350px;*/
        min-height: 50px;
    }


    .pop-bootom {
        /* background-color: #91785D;*/
        /* border-color: #91785D;*/
        /* max-width: 50px;*/
        /* box-shadow: 3px 3px 2px #8B5D33;*/
        /* font-family: 'Oswald';*/
        /*  min-width: 350px;*/
        min-height: 50px;
        text-align: left;
        font-size: medium;
    }

    .pop-bootom1 {
        /* background-color: #91785D;*/
        /*   border-color: #91785D;*/
        /* max-width: 50px;*/
        /* box-shadow: 3px 3px 2px #8B5D33;*/
        /* font-family: 'Oswald';*/
        /*  min-width: 350px;*/
        /*  min-height: 50px;*/
        /*  min-width: 450px;*/
        /*  min-height: 50px;*/
        text-align: left;
        font-size: small;
    }

    .pop-bootomnew {
        /* background-color: #91785D;*/
        /*   border-color: #91785D;*/
        /* max-width: 50px;*/
        /* box-shadow: 3px 3px 2px #8B5D33;*/
        /* font-family: 'Oswald';*/
        /*  min-width: 350px;*/
        /*  min-height: 50px;*/
        min-width: 450px;
        min-height: 50px;
        text-align: left;
        font-size: small;
    }

    .pop-head-font {
        font-weight: 200;
        font-size: small;
        /* font-weight: bold;*/
    }
</style>


@*<style>

        .markernew {
            background-image: url('/img/mapbox-marker-icon-20px-yellow.png');
            background-size: cover;
            width: 20px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }


        .pop-up {
            color: #F3F3DD;
            background-color: #91785D;
            /*  border-color: #91785D;*/
            /* max-width: 50px;*/
            /* box-shadow: 3px 3px 2px #8B5D33;*/
            /* font-family: 'Oswald';*/
            min-width: 450px;
        }

        .pop-up-op {
            color: #F3F3DD;
            /*background-color: #91785D;*/
            /* border-color: #91785D;*/
            /* max-width: 50px;*/
            /*  box-shadow: 3px 3px 2px #8B5D33;*/
            /* font-family: 'Oswald';*/
            min-width: 450px;
            text-align: left;
        }

        .pop-up-op2 {
            color: #F3F3DD;
            /*background-color: #91785D;*/
            /* border-color: #91785D;*/
            /* max-width: 50px;*/
            /*  box-shadow: 3px 3px 2px #8B5D33;*/
            /* font-family: 'Oswald';*/
            min-width: 450px;
            text-align: left;
        }

        .pop-head {
            color: #F3F3DD;
            background-color: #ab3a0e;
            /* border-color: #91785D;*/
            /* max-width: 50px;*/
            /* box-shadow: 3px 3px 2px #8B5D33;*/
            /* font-family: 'Oswald';*/
            /*  min-width: 350px;*/
            min-height: 50px;
        }

        .pop-head2 {
            color: white;
            background-color: #15ad07;
            /* border-color: #91785D;*/
            /* max-width: 50px;*/
            /* box-shadow: 3px 3px 2px #8B5D33;*/
            /* font-family: 'Oswald';*/
            /*  min-width: 350px;*/
            min-height: 50px;
        }

        .pop-head3 {
            color: #171711;
            background-color: #c9c608;
            /* border-color: #91785D;*/
            /* max-width: 50px;*/
            /* box-shadow: 3px 3px 2px #8B5D33;*/
            /* font-family: 'Oswald';*/
            /*  min-width: 350px;*/
            min-height: 50px;
        }


        .pop-bootom {
            /* background-color: #91785D;*/
            /* border-color: #91785D;*/
            /* max-width: 50px;*/
            /*  box-shadow: 3px 3px 2px #8B5D33;*/
            /* font-family: 'Oswald';*/
            /*  min-width: 350px;*/
            min-height: 50px;
            text-align: left;
            font-size: medium;
        }

        .pop-bootom1 {
            /* background-color: #91785D;*/
            /*   border-color: #91785D;*/
            /* max-width: 50px;*/
            /* box-shadow: 3px 3px 2px #8B5D33;*/
            /* font-family: 'Oswald';*/
            /*  min-width: 350px;*/
            /*  min-height: 50px;*/
            min-width: 450px;
            min-height: 50px;
            text-align: left;
            font-size: medium;
        }

        .pop-bootomnew {
            /* background-color: #91785D;*/
            /*   border-color: #91785D;*/
            /* max-width: 50px;*/
            /* box-shadow: 3px 3px 2px #8B5D33;*/
            /* font-family: 'Oswald';*/
            /*  min-width: 350px;*/
            /*  min-height: 50px;*/
            min-width: 450px;
            min-height: 50px;
            text-align: left;
            font-size: medium;
        }

        .pop-head-font {
            font-weight: 200;
            font-size: large;
            /* font-weight: bold;*/
        }
    </style>*@