@{
    ViewData["Title"] = "PassWord";
}


   @*<section class="content">
    *@
    <div class="row" id="rowpassword">
        <div class="col-md-12">
            <div>
                <label>Current Password</label> <br />
                <input type="password" id="txtOldPassword" required/><i class="fa fa-eye-slash" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
            </div>
            <div>
                <label>New Password</label><br />
                <input type="password" id="txtNewPassword" required maxlength="32"/><span toggle="txtNewPassword" class="k-icon k-i-lock toggle-password"></span><label id="lblpattern" style="font-weight:bold">(Minimum 8 characters, one UPPER, one lower, one number, one special character)</label><br />
                
            </div>
            <div>
                <label>Confirm New Password</label><br />
                <input type="password" name="txtConformPassword" id="txtConformPassword" required maxlength="32"/><span><label Id="lblmsg" style="color: red"></label> <br /></span><br />
                <span toggle="txtConformPassword" class="k-icon k-i-lock toggle-password"></span>
            </div>

            <div>
                <button type="button" onclick="ValidatePassword()" class="k-button k-button-icontext k-primary k-grid-update">Reset</button>
                <button type="button" onclick="CancelEdit()" class="k-button k-button-icontext k-grid-cancel"><span class="k-icon k-i-cancel"></span>Cancel</button>
            </div>
        </div>

    </div>

    @*
</section>*@

<style>
    .button {
        border-style: none;
        text-align: left;
        margin-top: 10%;
    }

    input[type="password"] {
        width: 75%;
    }

    .k-window-content, .k-prompt-container {
        overflow: hidden;
    }

    .content {
        margin: 10px;
        border: 4px solid #007bff;
        border-radius: 10px;
        background-color: white !important;
        color: black !important;
        padding-top: 0px;
        height: 420px;
    }

    #rowpassword {
        padding-top: 5%;
    }
</style>


<script>

    $(".toggle-password").click(function () {

        $(this).toggleClass("k-i-lock k-i-unlock");
        var input = $("[id='" + $(this).attr("toggle") + "']");

        if (input.attr("type") === "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
    });

    function ValidatePassword() {
        debugger;

        var IsValid = false;

        var OldPassword = $("#txtOldPassword").val();
        var NewPassword = $("#txtNewPassword").val();
        var ConformPassword = $("#txtConformPassword").val();

        if (OldPassword == "" || NewPassword == "" || ConformPassword == "") {
            $("#lblmsg").html("Please enter all the fields");
            IsValid = false;
        }
       else if (NewPassword != ConformPassword) {
            $("#lblmsg").html("Passwords mismatch ");
            IsValid = false;
        }
        else if (NewPassword == OldPassword) {
            $("#lblmsg").html("Current Password and New Password are same !");
            IsValid = false;
        }
        else {

            $("#lblmsg").html("");
            if (NewPassword.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=(?:.*?[!\@@#$%*()_+^&}{:;?.]){1})[0-9a-zA-Z]{8,}/) != null) {
                    //ajax call
                if (IsOldPasswordValid()) {
                    IsValid = true;
                    //ResetPassword();
                } else {
                    IsValid = false;
                }
              } else {
                    $("#lblmsg").html("New Pasword does not matches password pattern");
                    IsValid = false;
                }
        }

        //if (IsValid == true) {
        //    //ResetPassword();
        //} else {
        //    return false;
        //}
    }

    function IsOldPasswordValid() {
        debugger;

        var OldPassword = $("#txtOldPassword").val();

        $.ajax({
            url: "/EditProfile/IsValidPassword",
            type: "GET",
            dataType: "json",
            data: { passWord: OldPassword },
            contentType: "application/json; chartset=uft-8",
            success: function (response) {
                debugger;

                if (response === true) {
                    ResetPassword();
                    return true;
                } else {
                    $("#lblmsg").html("Invalid Old Password !");
                    return false;
                }
            },
            error: function (xhr, status, error) {
                planalert(xhr.responseText, "Error");
            }
        });
    }


    function ResetPassword() {
        debugger;
        var OldPassword = $("#txtOldPassword").val();
        var NewPassword = $("#txtNewPassword").val();

        var data = JSON.stringify
            ({
                'CurrentPassWord': OldPassword,
                'NewPassWord': NewPassword
            })
            $.ajax({
                url: "/EditProfile/ChangePassword",
                type: "POST",
                dataType: "json",
                data: data,
                contentType: "application/json; chartset=uft-8",
                success: function (response) {
                    if (response === true) {
                        //$("#lblmsg").html("Password changed successfully");

                        //setTimeout(,
                        //    3000
                        //);
                        $.when(planalert("Password changed successfully. Please Sign in again", "Information")).then($("#logoutForm").submit());                        
                        return true;
                    } else {
                        $("#lblmsg").html("Invalid Old Password !");
                        return false;
                    }
                },
                error: function (xhr, status, error) {
                    planalert("Password does not changed", "Information");
                    //planalert(xhr.responseText, "Error");
                }
            });
    }

    function planalert(content, alerttitle) {
        $("<div></div>").kendoAlert({
            title: alerttitle,
            content: content
        }).data("kendoAlert").open();
    }

    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#id_password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>
