@{
    ViewData["Title"] = "Service Company";
}
@model IEnumerable<WellAI.Advisor.Model.ServiceCompany.Models.OpportunityModel>

    <section class="content-header">
        <style>
            .k-scheduler-table th {
                color: #000;
            }

            .k-grid .k-grid-add, .k-grid .k-grid-add:hover {
                color: #000 !important;
                background-color: #fff !important;
                border: 0;
            }

            .k-grid .k-grid-excel, .k-grid .k-grid-excel:hover {
                color: #000 !important;
                background-color: #fff !important;
                border: 0;
            }


            .k-grid .k-grid-pdf, .k-grid .k-grid-pdf:hover {
                color: #000 !important;
                background-color: #fff !important;
                border: 0;
            }

            .k-grid-View, .k-grid-Delete, .k-grid-View:hover, .k-grid-Delete:hover {
                background-color: #fff;
            }

            .k-grid-edit, .k-grid-Delete, .k-grid-View {
                border: 1px solid #007BFF;
                border-radius: 10px;
            }

            .k-window-titlebar {
                background-color: #007BFF;
                color: white;
            }

            .k-grid-toolbar {
                background-color: #fff;
                color: #000;
            }
        </style>
    </section>
<!-- Main content -->
<section class="content">
 
    @(Html.Kendo().Grid<WellAI.Advisor.Model.ServiceCompany.Models.OpportunityModel>()
        .Name("ServiceOpportunity")
        .HtmlAttributes(new { @class = "ra-section" })
        .ToolBar(toolbar =>
        {
            toolbar.Create().Text("Add New Company");
            toolbar.Excel();
            toolbar.Pdf();
        })
        .Editable(editable => editable.Mode(GridEditMode.PopUp))
        .Columns(columns =>
        {
            columns.Bound(p => p.OpportunityName).Title("Company Name");
            columns.Bound(p => p.CreatedAt).Title("Created On").Format("{0:MM/dd/yyyy}");
            columns.Bound(p => p.EstimatedClosingDate).Title("Estimated Closing Date").Format("{0:MM/dd/yyyy}");
            columns.Bound(p => p.EstimatedRevenue).Title("Estimated Revenue");
            columns.Bound(p => p.Probablity).Title("Probablity");
            columns.Command(command => { command.Edit();}).Title("Action").Width(160);
        })
        .Pageable()
        .Sortable()
    
        .Filterable()
        .Reorderable(r => r.Columns(true))
        .Resizable(r => r.Columns(true))
 
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .ServerOperation(true)
            .Read(read => read.Action("Excel_Export_Read", "ServiceOpportunity"))
         ).BindTo(Model)
    )



</section>