
@{
    ViewData["Title"] = "CategoryTask";
}

<section class="content-header">
    <style>
        html,
        body {
            height: auto;
            min-height: 100%;
            max-height: 100%;
            overflow: hidden;
        }
        .k-edit-buttons {
            border-style: none;
        }

        .k-grid .k-grid-add:hover {
            color: #fff !important;
        }
        .k-grid-content {
            height: auto !important;
        }
        .k-window-content #sidebar .k-edit-label {
            margin-left: -50px;
        }

        .k-window-content .k-edit-form-container {
            width: inherit;
        }

        .k-grid-Details, .k-grid-Details:hover, .k-grid-Delete, .k-grid-Delete:hover {
            background-color: #fff;
        }

        .k-window-titlebar {
            background-color: #007BFF;
            color: white;
        }

        .k-widget.k-window {
        }

        span.k-dropdown-wrap,span.k-dropdown-wrap.k-state-default, .k-dropdown, .k-dropdown:hover {
            color: #000000 !important;
            background-color: #ffff !important;
            width: 100%;
        }

        .row {
            padding-top: 3px;
        }
        #PageHeading {
            font-size: 16px;
            margin: 15px;
        }
    </style>
</section>
<section class="content">
    <div class="row">
        <div id="PageHeading" class="col-md-6"><strong>Services</strong></div>
    </div>
    <div class="auction-bottom">
        @(Html.Kendo().Grid<WellAI.Advisor.Model.Administration.CategoryTaskModel>()
            .Name("CategoryTaskGrid")
            .Columns(columns =>
            {
                columns.Bound(p => p.ServiceCategoryName).Title("Phase").Width(300);
                columns.Bound(p => p.TaskName);
                columns.Bound(p => p.SubCategoryId).Hidden();
                columns.Bound(p => p.CategoryId).Hidden();
                columns.Bound(p => p.IsActive).Title("Active").Width(75).Filterable(false).ClientTemplate("#if (IsActive == true) { #" +
                              "<a href='javascript:void(0)'><span class='text-success k-icon k-i-check'></span></a>" +
                              "# } else { #" +
                              "<a href='javascript:void(0)'><span class='text-danger k-icon k-i-close'></span></a>" +
                              "# } #");
                columns.Bound(p => p.CategoryTaskId).Hidden();
                columns.Bound(p => p.TaskId).Hidden();

            })

            .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("EditCategoryTask").Window(w => w.Title("Edit Services").Width(500)))
            .Pageable(p =>
                        p.Info(true)
                         .Numeric(false)
                         .PreviousNext(false)
                    )
                .Selectable()
                 .Scrollable(scrollable => scrollable.Virtual(true).Endless(true))
        .Sortable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(12)
        .Read(read => read.Action("CategoryTask_Read", "WellTasks"))
        .Group(x =>
        {
            x.Add(y => y.ServiceCategoryName);
        })
        .Model(model => model.Id(p => p.CategoryTaskId))
        .Create(update => update.Action("CategoryTask_Create", "WellTasks"))
        .Update(update => update.Action("CategoryTask_Update", "WellTasks"))

        ).Events(e =>
        {
            e.Save("onGridSave");
            e.Edit("gridEdit");
            e.DataBound("DataBound");
        })
        )
    </div>
</section>
<script>
    function onGridSave(e) {
        setTimeout(function () {
            $('#CategoryTaskGrid').data('kendoGrid').dataSource.read().then(function () {
                $('#CategoryTaskGrid').data('kendoGrid').refresh();
            });
        }, 1600);
    }
    function gridEdit(e) {
        if (e.model.isNew()) {
            e.container.data("kendoWindow").title("Add Service Category");
            $('.k-grid-update').text("Save");
            $("#IsActive").prop('checked', true).trigger("change");

        }

        //setTimeout(function () {
        //    $("#CategoryTaskGrid").data('kendoGrid').datasource.read().then(function () {
        //        $("#CategoryTaskGrid").data('kendoGrid').refresh();
        //    });
        //},1500);

    }

    function DataBound(e) {
        var grid = this;

        grid.tbody.find("tr[role='row']").each(function () {
            var model = grid.dataItem(this);
        });

        grid.element.off('dblclick');
        grid.element.on('dblclick', 'tbody tr[data-uid]', function (e) {
            grid.editRow($(e.target).closest('tr'));
        })
    }
    function error(args) {
        if (args.errors) {
            var grid = $("#CategoryTaskGrid").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();

                $.each(args.errors, function (propertyName) {
                    var messages = this.errors[0];
                    $('.errors').text(messages);
                    $('.errors').addClass("alert alert-danger");
                });
            });
        }
    }
    function onSubCategoryName(e) {

        var dataItem = this.dataItem(e.item.index()+1);
        $("#ServiceCategoryName").val(dataItem.Name).trigger("change");
    }
    function onCategoryName(e) {

        var dataItem = this.dataItem(e.item.index()+1);
       
    }
    function onSelectedTaskName(e) {

        var dataItem = this.dataItem(e.item.index());
        $("#TaskName").val(dataItem.Name).trigger("change");

    }

    function filterSubCategory() {
        return {
            categories: $("#CategoryId").val()
        };
    }

    $(document).ready(function () {
        var categories = $("#CategoryId").data("kendoDropDownList");
        $('#CategoryTaskGrid').data('kendoGrid').dataSource.read();
    });
</script>



