@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "A Recovery Email has been Sent";
}
<div class="row login-row">
    <div class="col-md-3 login-logo"></div>
    <div class="col-md-6" style="padding-top:6.5%;">
        <div class="blockstyle">
            <!-- small box -->
            <div class="small-box box-shad">
                <div class="inner">
                    <section>
                        <div class="row">
                            <div class="col-md-9" style="padding-left:10%;">
                                <h1>@ViewData["Title"]</h1>
                                <p>Please check your email to reset your password.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<link href="~/css/common.css" rel="stylesheet" />

<style>
    .blockstyle {
        padding: 0px;
        display: inline-block;
        margin: 10px 10px 0 80px;
        background-color: #fff;
        border: 4px solid #007AFC;
        border-radius: 10px;
        position: relative;
        width: 756px !important;
    }

    .box-shad {
        box-shadow: none;
    }
    .small-box.box-shad{
        color:black !important;
    }
    .dashboard-total {
        color: #000;
        font-size: 14px;
    }

    .dashboard-total {
        width: 80px;
    }

    .k-edit-buttons {
        border-style: none;
    }
</style>
