@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<link href="~/css/font-awesome.css" rel="stylesheet" />
<link href="~/css/ionicons.css" rel="stylesheet" />
<link href="~/css/telerik.css" rel="stylesheet" />
<link href="~/css/AdminLTE.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />
<link href="~/css/brand.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-9" style="padding-left:10%;">
        <h1>@ViewData["Title"]</h1>
        <p>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</div>