@model WellAI.Advisor.Model.Tenant.Models.CrmComments
@using Kendo.Mvc.UI
@{
 
}
<div class="row">
    <div class="col-md-12 errors"></div>
</div>

<div class="row">
    <div class="col-md-2">Notes</div>
    <div class="col-md-10">
       
        @Html.TextAreaFor(model => model.Body, new { @Class = "form-control", required = "required", @maxlength = "400", style = "width:450px;height:450px" })
        @Html.ValidationMessageFor(model => model.Body)

    </div>
</div>
 
<script>
 
    $(document).ready(function () {
      
        $(".k-grid-update").click(function () {
          
            setTimeout(function () {
                $('#ContactNotesGrid').data('kendoGrid').dataSource.read().then(function () {
                    $('#ContactNotesGrid').data('kendoGrid').refresh();
                });
            }, 2000);
        });

    });
</script>
<style>
    .k-textbox, .k-input.k-textbox, .k-textarea {
        width: 42.4em !important;
    }
</style>
<style>
    .k-dropdown, .k-dropdown:hover {
        width: 100%;
        display: inline-block !important;
    }

        .k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap {
            border-color: #011627;
            color: black;
            background-color: white !important;
            
        }

    .k-edit-form-container {
        width: inherit;
        min-width: 400px;
        border-color: inherit;
        position: relative;
    }

    .k-window-content, .k-prompt-container {
        overflow: hidden !important;
    }
 
    .k-multiselect {
        width: 270px !important;
        height: 100px;
        overflow: auto;
    }

    .k-datepicker .k-picker-wrap .k-select {
        border: 0px;
        background-color: #fff;
        color: #000;
    }

    #SelectedRoles {
        height: 0px;
        visibility: hidden;
        width: 0px !important;
        border: 0;
        padding: 0;
        margin: 0;
    }

    .row1 {
        display: inline-block;
        width: 100%;
    }

    .row3 .rowcol3, .row3 .rowcol33 {
        float: right;
        width: 30%;
        display: inline-block;
    }

    .row3 .rowcol35 {
        width: 14%;
        display: inline-block;
        margin-left: 70px;
    }

        .row3 .rowcol35 .k-edit-field, .row3 .rowcol36 .k-edit-field {
            width: 50%;
        }

    .row3 .rowcol36 {
        width: 11%;
        display: inline-block;
    }

    .k-edit-field {
        width: 100% !important;
    }

    .row3 .rowcol36 #Field {
        vertical-align: bottom;
    }

    .row3 .rowcol1 .k-edit-label, .row2 .rowcol1 .k-edit-label {
        text-align: left;
    }

    .row3 .rowcol, .row3 .rowcol1, .row3 .rowcol2 {
        display: inline-block;
        width: 34%;
    }

    .row1 .rowcol .k-edit-label {
        width: 8%;
    }

    .row1 .rowcol {
        width: 100%;
    }

    .row3 .rowcol33 {
        width: 32%;
    }

        .row3 .rowcol33 .k-edit-label {
            width: 20%;
        }

        .row3 .rowcol33 .k-edit-field {
            width: 70%;
        }

    .row1 .rowcol .k-edit-label > label {
        float: left;
    }

    .row1 .rowcol .k-edit-field {
        width: 89%;
    }

    .row3 .rowcol2 .k-edit-label {
        line-height: 20px;
        margin-bottom: 7px;
        text-align: right;
    }

    .row2 .rowcol, .row2 .rowcol1 {
        display: inline-block;
        width: 49%;
    }

        .row2 .rowcol .k-edit-field {
            margin-right: -10px;
        }

    .row3 .rowcol {
        display: inline-block;
        width: 30%;
        margin-right: 20px;
    }

        .row3 .rowcol .k-edit-label {
            text-align: left;
        }

    .row2 .rowcol1 .k-edit-label {
        width: 10%;
    }

    .row2 .rowcol1 .k-edit-field {
        width: 77%;
    }

    .row3 .rowcol2 .middle {
        margin-bottom: 20px !important;
    }

    #MiddleName {
        margin-bottom: 7px;
    }

    #Email, #JobTitle, #Address {
        margin-left: -5px;
    }

    .roleswrap {
        height: 0px;
    }

    .k-grid-cancel {
        border-color: #023259;
        color: #ffffff;
        background-color: #000102
    }

    #IsPrimary {
        margin-top: 23px;
    }

    #AdditionalNotes {
        margin-left: -5px;
    }

    .notes {
        width: 33% !important;
    }

    .radiogroup label {
        display: block;
    }

    .radiogroup {
        width: 100px;
        margin-left: 20px;
        margin-top: -14px;
    }

    .row3 .radios {
        width: 20%;
        margin-left: 95px;
    }

        .row3 .radios .k-edit-label {
            width: 70px;
        }

    .row3 .wells {
        width: 37%;
    }

        .row3 .wells .k-edit-label {
            width: 18%;
        }

        .row3 .wells .k-edit-field {
            width: 77%;
        }

    #SelectedWells {
        visibility: hidden;
        height: 0px;
        width: 0px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }

    #wrappers {
        overflow: hidden;
    }

    .subsriptupgrade {
        font-size: 20px;
    }
</style>