<div class="login-row">
    <section class="content center">       
        <div class="content-wrapper login-row">
            <h2 style="text-align:center">Update Subscription</h2>
            <div class="row">
                <div class="form-fields-wrapper row">
                    <div class="col-md-12">
                        <div class="row" style="font-size:large">
                            <div class="col-md-6 form-field">
                                <label class="text-small">Your Current Plan:</label>
                            </div>
                            <div class="col-md-6 form-field">
                                <button id="btnUpdateScription" class="btn btn-primary pull-right" value="Update Plan">Update Plan</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 form-field">
                                <label class="text-small">Name</label>
                            </div>
                            <div class="col-md-3 form-field" style="text-align:center">
                                <label class="text-small">No.of Users</label>
                            </div>
                            <div class="col-md-3 form-field">
                                <label class="text-small pull-right">Sub Total</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:-10px">
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 form-field">
                                <label class="text-small">Dispatch</label>
                            </div>
                            <div class="col-md-3 form-field" style="text-align:center">
                                <label class="text-small">5</label>
                            </div>
                            <div class="col-md-3 form-field">
                                <label class="text-small pull-right">$ 115.00</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:-10px">
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <div class="row" style="font-size:large">
                            <div class="col-md-6 form-field">
                                <label class="text-small">Total</label>
                            </div>
                            <div class="col-md-6 form-field" style="font-size:large;">
                                <label class="text-small pull-right">$ 115.00</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:-10px">
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <div class="row" style="font-size:large">
                            <div class="col-md-4 form-field">
                                <label class="text-small">Order Date :</label>
                                <label class="text-small">16-Aug-22</label>
                            </div>
                            <div class="col-md-6 form-field">
                                <label class="text-small">Next Billing Date :</label>
                                <label class="text-small">16-Sep-22</label>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-md-7">
                        <div class="card border mb-2" style="min-width: 23rem; border: 1px solid steelblue !important; ">
                            <div class="card-header" style="color:white;background-color:#34587e">
                                <h5>Billing Address</h5>
                            </div>
                            <div class="card-body" style="color: steelblue; margin-top: 5px ">
                                <div class="row">
                                    <div class="col-md-6 form-field">
                                        <label class="text-small">Name    : John Paul</label>
                                    </div>
                                    <div class="col-md-6 form-field">
                                        <label class="text-small">Email   : sales@xyzforklifts.com</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-field">
                                        <label class="text-small">Phone   : 5654545452</label>
                                    </div>
                                    <div class="col-md-6 form-field">
                                        <label class="text-small">Address : 123, Main Suite</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-field">
                                        <label class="text-small">City    : Houston</label>
                                    </div>
                                    <div class="col-md-6 form-field">
                                        <label class="text-small">Zip     : 77045</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card border mb-2" style="min-width: 23rem; border: 1px solid steelblue !important; ">
                            <div class="card-header" style="color:white;background-color:#34587e">
                                <h5>Payment Method</h5>
                            </div>
                            <div class="card-body" style="color: steelblue; margin-top: 5px">
                                <div class="col-md-12 form-field">
                                    <label class="text-small">Card Holder : John Paul</label>
                                </div>
                                <div class="col-md-12 form-field">
                                    <label class="text-small">Card Number : .... .... .... 1234</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-field">
                                        <label class="text-small">Card Type : VISA</label>
                                    </div>
                                    <div class="col-md-6 form-field">
                                        <label class="text-small">Expire on : 11/25</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>


<style>
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
         margin-right: 0px; 
         margin-left: 0px;
    }
    .content {
        overflow: hidden;
        padding-top: 100px;
        padding-left: 100px;
        width:1000px;
    }
    .content {
        margin-top:150px;
        min-height: 450px;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        height: 450px;
    }
    .content-wrapper {
        background-color: white !important;
        color: steelblue;
        /*width: 1000px;*/
        overflow: hidden;
        /*       min-height:0px!important;*/
    }
    /*.center {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);            
    }*/
    .content-wrapper.login-row{
        height:600px!important;
    }
</style>