@model WellAI.Advisor.Model.Tenant.Models.CrmComments
@using System.Collections.Generic;
@using Kendo.Mvc.UI


<section class="content1">
    <div class="row">
        <!-- </div>-->
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            
                        </div>
                        <div class="col-sm-6">
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.Body)
                        </div>
                        <div class="col-sm-6">
                            &dollar; @Html.DisplayFor(model => model.Body)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
