@{ ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml"; }
<link href="~/css/font-awesome.css" rel="stylesheet" />
<link href="~/css/ionicons.css" rel="stylesheet" />
<link href="~/css/telerik.css" rel="stylesheet" />
<link href="~/css/AdminLTE.css" rel="stylesheet" />
<link href="~/css/common.css" rel="stylesheet" />
<link href="~/css/brand.css" rel="stylesheet" />
<div class="register-box-body bg-blue">
    <h2>Reset Success</h2>
    <h3>Your password has been reset. Please <a href="@src.MVC.Accounts.Login.FullUrl">click here to log in</a>.</h3>
</div>